{% extends "sample_app/base.html" %}
{% block content %}


<div class="mx-auto" style="width: 600px;">
    <div class="card mb-4 border">
        <div class="card-body" align="center">
            <h2 class="card-title">Environment Deployment</h2>
            <h4 class="card-title">VM Creation</h4>
            <br>

            <form class="needs-validation" method="POST" action="/RTOSLAAutomation/deployment/"
                  onsubmit="btn.disabled=true; btn.innerText='Deploying VMs. Please Wait'; img.style.display=inline">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip01">Cluster name</label>
                        <input type="text" class="form-control" id="validationTooltip01" placeholder="Cluster name"
                               name="esx_host" required>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip02">Data Center name</label>
                        <input type="text" class="form-control" id="validationTooltip02" placeholder="DC name"
                               name="dc_name" required/>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip03">Data Store name</label>
                        <input type="text" class="form-control" id="validationTooltip03" placeholder="DS name"
                               name="ds_name" required>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3"><label for="exampleFormControlSelect1">Select Template</label>
                        <select class="form-control" name="temp_name" id="exampleFormControlSelect1" required>
                            <option value="" selected disabled hidden>Choose template</option>
                            <div class="invalid-tooltip">
                                Please select at least one Template.
                            </div>
                            <option value="AD-win2012-bkp">AD-win2012-bkp</option>
                            <option value="APP-rhel7">APP-rhel7</option>
                            <option value="APP-win12-bkp">APP-win12-bkp</option>
                            <option value="APP-win-latest">APP-win-latest</option>
                            <option value="Auto-win12.bkp">Auto-win12.bkp</option>
                            <option value="Mysql-rhel7-Template">Mysql-rhel7-Template</option>
                            <option value="SQL-win12-bkp">SQL-win12-bkp</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="start_range">Start Range</label>
                        <input type="number" min="0" class="form-control" id="start_range" placeholder="0"
                               name="s_range" required>
                        <div class="invalid-tooltip">
                            Please select at least one VM.
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="end_range">End Range</label>
                        <input type="number" class="form-control" id="end_range" placeholder="0"
                               onclick="end_range.min=start_range.value; end_range.placeholder=start_range.value;"
                               name="e_range" required>
                        <div class="invalid-tooltip">
                            Please select at least one VM.
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mb-3">
                    <label for="validationTooltip06">New VM Name</label>
                    <input type="text" class="form-control" id="validationTooltip06"
                           placeholder="eg. Template_name-test"
                           name="new_vm" required>
                    <div class="invalid-tooltip">
                        Please provide a valid VM Name.
                    </div>
                </div>
                <button id="btn" class="btn btn-primary" type="submit">DEPLOY
                </button>
                <!--<input type="submit" name="Submit" value="Deploy" onclick="this.disabled=true; this.value='Please Wait...';" />-->
                <!--<div id="loadpage"-->
                <!--style="display: none; position:relative; left:0px; top:0px; background-color:white; layer-background-color:white; height:100%; width:100%;">-->
                <!--<p id="p" align="center" style="font-size: large;">-->
                <!--<img src="spinner.gif">-->
                <!--<B>Loading ... ... Please wait!</B>-->
                <!--</p>-->
                <!--</div>-->
                <!--<div id="load"-->
                <!--style=" position:relative; left:0px; top:0px; background-color:white; layer-background-color:white; height:100%; width:100%;">-->
                <!--<input type="image" value="...Please wait..." src="spinner.gif" id="img" align="center"-->
                <!--style="display: none; font-size: large;"/>-->
                <!--</div>-->
            </form>

        </div>
    </div>

</div>

<br>

{% endblock content %}