{% extends "sample_app/base.html" %}
{% block content %}

<div class="card" style="width: 50rem;margin: auto;">
    <div class="card-body" align="center">
        <h2 class="card-title">Environment Deployment</h2>
        <h3 class="card-title">VM Creation</h3>

        <form class="needs-validation" novalidate action="/sample_app/deployment/">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Cluster name</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="First name" value="" name="esx_host"
                           required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Data Center name</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" name="dc_name" value=""
                           required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip03">Data Store name</label>
                    <input type="text" class="form-control" id="validationTooltip03" placeholder="Last name" name="ds_name" value=""
                           required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <!--<div class="col-md-4 mb-3">-->
                    <!--<div class="form-row align-items-center">-->
                        <!--<div class="col-auto my-1">-->
                            <!--<label class="mr-sm-2" for="inlineFormCustomSelect">Select Template</label>-->
                            <!--<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">-->
                                <!--<option selected>Templates...</option>-->
                                <!--<option value="1">Temp 1</option>-->
                                <!--<option value="2">Temp 2</option>-->
                                <!--<option value="3">Temp 3</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip04">Template Name</label>
                    <input type="text" class="form-control" id="validationTooltip04" name="temp_name" placeholder="Template Name" required>
                    <div class="invalid-tooltip">
                        Please provide a valid template name.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip05">New VM Name</label>
                    <input type="text" class="form-control" id="validationTooltip05" name="new_vm" placeholder="VM Name" required>
                    <div class="invalid-tooltip">
                        Please provide a valid VM name.
                    </div>
                </div>

            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>

        </form>
    </div>
</div>
<br>

{% endblock content %}