{% extends "sample_app/base.html" %}
{% block content %}

<div class="card" style="width: 50rem;margin: auto;">
    <div class="card-body" align="center">
        <h2 class="card-title">Environment Deployment</h2>
        <h3 class="card-title">VM Creation</h3>

        <form class="needs-validation" method="POST" novalidate action="/sample_app/deployment/">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Cluster name</label>
                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Cluster name"
                           name="esx_host" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip02">Data Center name</label>
                    <input type="text" class="form-control" id="validationTooltip02" placeholder="DC name"
                           name="dc_name" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip03">Data Store name</label>
                    <input type="text" class="form-control" id="validationTooltip03" placeholder="DS name"
                           name="ds_name" required>
                    <div class="valid-tooltip">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3"><label for="exampleFormControlSelect1">Select Template</label>
                    <select class="form-control" name="temp_name" id="exampleFormControlSelect1">
                        <option value="AD-win2012-bkp">AD-win2012-bkp</option>
                        <option value="APP-rhel7">APP-rhel7</option>
                        <option value="APP-win12-bkp">APP-win12-bkp</option>
                        <option value="APP-win-latest">APP-win-latest</option>
                        <option value="Auto-win12.bkp">Auto-win12.bkp</option>
                        <option value="Mysql-rhel7-Template">Mysql-rhel7-Template</option>
                        <option value="SQL-win12-bkp">SQL-win12-bkp</option>
                    </select>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip04">No. of VMs</label>
                    <input type="number" min="0" class="form-control" id="validationTooltip04" placeholder="0"
                           name="numofvms"
                           required>
                    <div class="invalid-tooltip">
                        Please select at least one VM.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip05">New VM Name</label>
                    <input type="text" class="form-control" id="validationTooltip05" placeholder="VM Name"
                           name="new_vm" required>
                    <div class="invalid-tooltip">
                        Please provide a valid VM Name.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>

        </form>
    </div>
</div>
<br>

{% endblock content %}