{% extends "sample_app/base.html" %}
{% block content %}
<div class="mx-auto" style="width: 600px;">
    <div class="mycard mb-4 border">
        <div class="card-body" align="center">
            <h2 class="card-title">VCenter Connection</h2>
            <br>
            <form action="/RTOSLAAutomation/vcenter_creds/" method="POST" role="form" id="form_id">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="host_name" class="col-5 col-form-label col-form-label-lg">Host IP Address</label>
                    <div class="col-7">
                        <input type="text" minlength="7" maxlength="15" size="15" class="form-control form-control-lg"
                               id="host_name"
                               pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"
                               name="vcenter_ip" placeholder="Host IP address">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_name" class="col-5 col-form-label col-form-label-lg">User Name</label>
                    <div class="col-7">
                        <input type="text" class="form-control form-control-lg" id="user_name"
                               name="username" placeholder="User name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-5 col-form-label col-form-label-lg">Password</label>
                    <div class="col-7">
                        <input type="password" class="form-control form-control-lg" id="password"
                               name="password" placeholder="password">
                    </div>
                </div>
                <button class="btn btn-primary" id="buttonid" type="submit">Connect</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
