{% extends "sample_app/base.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Welcome to RTO SLA Automation!</h1>
    <!--<p><a class="btn btn-lg btn-success"href="#" role="button">CRVS</a></p>-->

    <div class="dropdown">
        <button class="dropdown-toggle form-control" data-toggle="dropdown">
            <span id="selected">Select Project</span>
            <span class="caret"></span></a>
        </button>
        <div class="dropdown-content">
            <a href="/RTOSLAAutomation/VCenterCredsForm/">CRVS</a>
            <a href="#">CR-AWS</a>
            <a href="#">HPC</a>
        </div>
    </div>
</div>
<!--</div> &lt;!&ndash; /container &ndash;&gt;-->
{% endblock content %}